
#slider {
    margin: 10px;
}

.swatch {
    display: inline-block;
    height: 200px;
    width: 200px;
    margin: 20px;
    border-radius: 100px;
    box-shadow: 0px 0px 10px #888;
}

.ui-slider-horizontal {
    height: 8px;
    width: 200px;
}
.ui-slider .ui-slider-handle {
    height: 15px;
    width: 5px;
    padding-left: 5px;
}

background{
	color: gray;
	box-sizing: border-box;
    width: 50%;
    float: left;
}



h1{
	font-weight: bold;
}

h2{
	font-weight: bold;
}